body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

/* Main content section */

.main-content-section{
 padding: 100px 190px;
 box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* About me section */

.about-me{
    margin: 0 0 40px 0;
}
.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}
.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:#595959;
}

/* Contacts section */

.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    margin-right: 7px;
    color: #fff;
}
.contacts-section-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}

